{% extends 'blog/base.html' %}



    {% block main_area %}
        {% load static %}

<!-- Three columns of text below the carousel -->
 <div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
			 <nav id="navigation">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="block">
                              <nav class="navbar navbar-default">
                                <div class="container-fluid">
                                  <!-- Brand and toggle get grouped for better mobile display -->

                                          <div class="title">
                                            <h2>한식 </h2><br/>



                                  </div>

                                  <!-- Collect the nav links, forms, and other content for toggling -->

                                </div><!-- /.container-fluid -->
                              </nav>
                          </div>
                      </div><!-- .col-md-12 close -->
                  </div><!-- .row close -->
              </div><!-- .container close -->
        </nav><!-- header close -->
     <img class="img-fluid" src="{% static 'blog/img/유박사.jpg' %}" alt="flag" alt="..." style="width:350px; height:270px;">
             <div class="alert alert-secondary" role="alert">
                <h2> 유박사 해장국</h2>
        </div>
        <table style="width:100%">
		<tr style="background-color:lightgrey">

			<th>가격</th>
			<th>메뉴</th>
		</tr>
		<tr>

			<td>뼈해장국</td>
			<td>9,000 </td>
		</tr>
		<tr>

			<td>우거지 뼈해장국</td>
			<td>9,000</td>
		</tr>
            <tr>

			<td>갈비탕</td>
			<td>10,000</td>
		</tr>
            <tr>

			<td>선지 해장국</td>
			<td>8,000</td>
		</tr>
            <tr>

			<td>우거지 해장국</td>
			<td>8,000</td>
		</tr>
	</table>


      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 col-sm-6 mb-4">
        <img class="img-fluid" src="{% static 'blog/img/바른.JPG' %}" alt="flag" alt="..." style="width:350px; height:270px;">
          <div class="alert alert-secondary" role="alert">
          <h2>바른식당</h2>
          </div>
<table style="width:100%">
		<tr style="background-color:lightgrey">

			<th>가격</th>
			<th>메뉴</th>
		</tr>
		<tr>

			<td>콩나물국밥</td>
			<td>7,000 </td>
		</tr>
		<tr>

			<td>뚝배기 제육</td>
			<td>8,000</td>
		</tr>
            <tr>

			<td>뚝배기 불고기</td>
			<td>9,000</td>
		</tr>
            <tr>

			<td>설악산</td>
			<td>11,000</td>
		</tr>
            <tr>

			<td>태조산</td>
			<td>12,000</td>
		</tr>
	</table>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 col-sm-6 mb-4">
            <img class="img-fluid" src="{% static 'blog/img/이모.JPG' %}" alt="flag" alt="..." style="width:350px; height:270px;">
                    <div class="alert alert-secondary" role="alert">
          <h2>이모네 순대&수육국밥</h2>
                    </div>
<table style="width:100%">
		<tr style="background-color:lightgrey">

			<th>가격</th>
			<th>메뉴</th>
		</tr>
		<tr>

			<td>순대국밥</td>
			<td>8,000 </td>
		</tr>
		<tr>

			<td>수육국밥</td>
			<td>8,000</td>
		</tr>
            <tr>

			<td>얼큰이 순대국밥</td>
			<td>8,000</td>
		</tr>
            <tr>

			<td>막창국밥</td>
			<td>9,000</td>
		</tr>
            <tr>

			<td>순대 한접시</td>
			<td>12,000</td>
		</tr>
	</table>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

</br> </br> </br>  </br>


   <div class="row">
      <div class="col-lg-4 col-sm-6 mb-4">
            <img class="img-fluid" src="{% static 'blog/img/정가네.jpg' %}" alt="flag" alt="..." style="width:350px; height:270px;">
                    <div class="alert alert-secondary" role="alert">
          <h2>정가네닭갈비</h2>
                    </div>
<table style="width:100%">
		<tr style="background-color:lightgrey">

			<th>가격</th>
			<th>메뉴</th>
		</tr>
		<tr>

			<td>정가네닭갈비</td>
			<td>9,500 </td>
		</tr>
		<tr>

			<td>치즈닭갈비</td>
			<td>10,500</td>
		</tr>
            <tr>

			<td>닭볶음탕</td>
			<td>28,000</td>
		</tr>
            <tr>

			<td>국물닭발</td>
			<td>12,000</td>
		</tr>
            <tr>

                <td>닭갈비덮밥, 뚝닭볶음탕<strong>(점심메뉴)</strong></td>
			<td>6,000</td>
		</tr>
	</table>
      </div><!-- /.col-lg-4 -->
     <div class="col-lg-4 col-sm-6 mb-4">
        <img class="img-fluid" src="{% static 'blog/img/명장.JPG' %}" alt="flag" alt="..." style="width:350px; height:270px;">
                   <div class="alert alert-secondary" role="alert">
         <h2>대한민국명장이만든명장국밥</h2>
                   </div>
<table style="width:100%">
		<tr style="background-color:lightgrey">

			<th>가격</th>
			<th>메뉴</th>
		</tr>
		<tr>

			<td>순대국밥</td>
			<td>8,000 </td>
		</tr>
		<tr>

			<td>짬뽕순대국밥</td>
			<td>9,000</td>
		</tr>
            <tr>

			<td>설렁탕</td>
			<td>10,000</td>
		</tr>
            <tr>

			<td>수육국밥</td>
			<td>8,000</td>
		</tr>
            <tr>

			<td>짬뽕수육국밥</td>
			<td>9,000</td>
		</tr>
	</table>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 col-sm-6 mb-4">
        <img class="img-fluid" src="{% static 'blog/img/안서한우.jpg' %}" alt="flag" alt="..." style="width:350px; height:270px;">
                    <div class="alert alert-secondary" role="alert" >
          <h2>안서한우국밥분식</h2>
                    </div>
<table style="width:100%">
		<tr style="background-color:lightgrey">

			<th>가격</th>
			<th>메뉴</th>
		</tr>
		<tr>

			<td>소머리국밥</td>
			<td>8,000 </td>
		</tr>
		<tr>

			<td>한우국밥</td>
			<td>9,000</td>
		</tr>
            <tr>

			<td>김치찌개</td>
			<td>7,000</td>
		</tr>
            <tr>

			<td>불고기덮밥</td>
			<td>7,500</td>
		</tr>
            <tr>

			<td>제육덮밥</td>
			<td>7,000</td>
		</tr>
	</table>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
 </div> <!-- /.container -->

 </br> </br> </br> </br>
 {% endblock %}