 {% extends 'blog/base.html' %}



    {% block main_area %}
        {% load static %}

<!-- Three columns of text below the carousel -->
 <div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
     <img class="img-fluid" src="{% static 'blog/img/코코.png' %}" alt="flag" alt="..." style="width:350px; height:270px;">
             <div class="alert alert-secondary" role="alert">
                <h2>코코스낵</h2>
        </div>
        <table style="width:100%">
		<tr style="background-color:lightgrey">

			<th>가격</th>
			<th>메뉴</th>
		</tr>
		<tr>

			<td>떡볶이</td>
			<td>3,500 </td>
		</tr>
		<tr>

			<td>떡라면</td>
			<td>3,500</td>
		</tr>
            <tr>

			<td>주먹밥</td>
			<td>1,500</td>
		</tr>
            <tr>

			<td>냄비우동</td>
			<td>4,000</td>
		</tr>
            <tr>

			<td>라볶이</td>
			<td>5,500</td>
		</tr>
	</table>


      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 col-sm-6 mb-4">
        <img class="img-fluid" src="{% static 'blog/img/깨돌이.jpg' %}" alt="flag" alt="..." style="width:350px; height:270px;">
          <div class="alert alert-secondary" role="alert">
          <h2>깨돌이김밥</h2>
          </div>
<table style="width:100%">
		<tr style="background-color:lightgrey">

			<th>가격</th>
			<th>메뉴</th>
		</tr>
		<tr>

			<td>야채김밥</td>
			<td>3,000 </td>
		</tr>
		<tr>

			<td>떡볶이</td>
			<td>3,500</td>
		</tr>
            <tr>

			<td>찹쌀순대</td>
			<td>4,500</td>
		</tr>
            <tr>

			<td>라면</td>
			<td>3,500</td>
		</tr>
            <tr>

			<td>오뎅</td>
			<td>1인분 2000</td>
		</tr>
	</table>
      </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-sm-6 mb-4">
        <img class="img-fluid" src="{% static 'blog/img/안서한우.jpg' %}" alt="flag" alt="..." style="width:350px; height:270px;">
                    <div class="alert alert-secondary" role="alert" >
          <h2>안서한우국밥분식</h2>
                    </div>
<table style="width:100%">
		<tr style="background-color:lightgrey">

			<th>가격</th>
			<th>메뉴</th>
		</tr>
		<tr>

			<td>떡볶이</td>
			<td>4,000 </td>
		</tr>
		<tr>

			<td>라면</td>
			<td>3,500</td>
		</tr>
            <tr>

			<td>떡만두국</td>
			<td>7,000</td>
		</tr>
            <tr>

			<td>쫄면</td>
			<td>6,000</td>
		</tr>
            <tr>

			<td>참치김밥</td>
			<td>3,500</td>
		</tr>
	</table>
      </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->

</br> </br> </br>  </br>


   <div class="row">
      <div class="col-lg-4 col-sm-6 mb-4">
            <img class="img-fluid" src="{% static 'blog/img/abc.png' %}" alt="flag" alt="..." style="width:350px; height:270px;">
                    <div class="alert alert-secondary" role="alert">
          <h2>추가예정</h2>
                    </div>
<table style="width:100%">
		<tr style="background-color:lightgrey">

			<th>가격</th>
			<th>메뉴</th>
		</tr>
		<tr>

				<td>___</td>
			<td>___ </td>
		</tr>
		<tr>

			<td>___</td>
			<td>___</td>
		</tr>
            <tr>

			<td>___</td>
			<td>___</td>
		</tr>
            <tr>

			<td>___</td>
			<td>___</td>
		</tr>
            <tr>

			<td>___</td>
			<td>___</td>
		</tr>
	</table>
      </div><!-- /.col-lg-4 -->
     <div class="col-lg-4 col-sm-6 mb-4">
        <img class="img-fluid" src="{% static 'blog/img/abc.png' %}" alt="flag" alt="..." style="width:350px; height:270px;">
                   <div class="alert alert-secondary" role="alert">
         <h2>추가예정</h2>
                   </div>
<table style="width:100%">
		<tr style="background-color:lightgrey">

			<th>가격</th>
			<th>메뉴</th>
		</tr>
		<tr>

				<td>___</td>
			<td>___ </td>
		</tr>
		<tr>

			<td>___</td>
			<td>___</td>
		</tr>
            <tr>

			<td>___</td>
			<td>___</td>
		</tr>
            <tr>

			<td>___</td>
			<td>___</td>
		</tr>
            <tr>

			<td>___</td>
			<td>___</td>
		</tr>
	</table>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 col-sm-6 mb-4">
            <img class="img-fluid" src="{% static 'blog/img/abc.png' %}" alt="flag" alt="..." style="width:350px; height:270px;">
                    <div class="alert alert-secondary" role="alert">
          <h2>추가예정</h2>
                    </div>
<table style="width:100%">
		<tr style="background-color:lightgrey">

			<th>가격</th>
			<th>메뉴</th>
		</tr>
		<tr>

			<td>___</td>
			<td>___ </td>
		</tr>
		<tr>

			<td>___</td>
			<td>___</td>
		</tr>
            <tr>

			<td>___</td>
			<td>___</td>
		</tr>
            <tr>

			<td>___</td>
			<td>___</td>
		</tr>
            <tr>

			<td>___</td>
			<td>___</td>
		</tr>
	</table>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
 </div> <!-- /.container -->

 </br> </br> </br> </br>
 {% endblock %}