
    {% extends 'blog/base.html' %}



    {% block main_area %}
    {% load static %}
                     <nav id="navigation">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="block">
                              <nav class="navbar navbar-default">
                                <div class="container-fluid">
                                  <!-- Brand and toggle get grouped for better mobile display -->

                                          <div class="title">
                                            <h2>호서대학교 </h2><br/>



                                  </div>

                                  <!-- Collect the nav links, forms, and other content for toggling -->

                                </div><!-- /.container-fluid -->
                              </nav>
                          </div>
                      </div><!-- .col-md-12 close -->
                  </div><!-- .row close -->
              </div><!-- .container close -->
        </nav><!-- header close -->
    <!--
    Slider start
    ============================== -->




        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                         <img class="img-responsive" src="{% static '/blog/img/header.jpg' %} " alt="">
                        <div class="title">

                        </div>

                        <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center"><br><br>

                <h3 class="section-subheading text-muted">학교 주변의 맛집을 찾아보세요</h3></br>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">

                            <img class="img-fluid" src="{% static 'blog/img/한식.jpg' %}" alt="flag" alt="..." style="width:380px; height:300px;">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">한식</div>
                            <div class="portfolio-caption-subheading text-muted"><p><a href="change.html">이동하기</a></p></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 2-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static 'blog/img/중식.jpg' %}" alt="..."  style="width:380px; height:300px;">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">중식</div>
                            <div class="portfolio-caption-subheading text-muted">이동하기</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 3-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static 'blog/img/일식_돈까스.jpg' %}" alt="..." style="width:380px; height:300px;">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">일식</div>
                            <div class="portfolio-caption-subheading text-muted">이동하기</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <!-- Portfolio item 4-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static 'blog/img/분식.jpg' %}" alt="..." style="width:380px; height:300px;">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">분식</div>
                            <div class="portfolio-caption-subheading text-muted">이동하기</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                    <!-- Portfolio item 5-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static 'blog/img/고기.jpg' %}" alt="..."  style="width:380px; height:300px;">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">고기</div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <!-- Portfolio item 6-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"></div>
                            </div>
                            <img class="img-fluid" src="{% static 'blog/img/카페.jpg' %}" alt="..." style="width:380px; height:300px;">
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">카페</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
                        <div id="owl-example" class="owl-carousel">

                            <div>
				<a href="/Users/user/Desktop/baeksb.github.io/index.html">
                                <img class="img-responsive" src="{% static 'blog/img/한식.jpg' %}" alt="flag"
				style="width:380px; height:300px;"> </a>
                            </div>
                            <div>
				<a href="/Users/user/Desktop/baeksb.github.io/index.html">
                                <img class="img-responsive" src="static/blog/img/중식.jpg" alt=""
				style="width:380px; height:300px;"> </a>
                            </div>
                            <div>
				<a href="/Users/user/Desktop/baeksb.github.io/index.html">
                                <img class="img-responsive" src="static/blog/img//일식_돈까스.jpg" alt=""
				style="width:380px; height:300px;"> </a>
                            </div>
                            <div>
				<a href="/Users/user/Desktop/baeksb.github.io/index.html">
                                <img class="img-responsive" src="static/blog/img/분식.jpg" alt=""
				style="width:380px; height:300px;"> </a>
                            </div>
                            <div>
				<a href="/Users/user/Desktop/baeksb.github.io/index.html">
                                <img class="img-responsive" src="static/blog/img/고기.jpg" alt=""
				style="width:380px; height:300px;"> </a>
                            </div>
                            <div>
				<a href="/Users/user/Desktop/baeksb.github.io/index.html">
                                <img class="img-responsive" src="static/blog/img/.jpg" alt=""
				style="width:380px; height:300px;"> </a>
                            </div>
                            <div>
				<a href="/Users/user/Desktop/baeksb.github.io/index.html">
                                <img class="img-responsive" src="static/blog/img/카페.jpg" alt=""
				style="width:380px; height:300px;"> </a>
                            </div>
                            <div>
				<a href="/Users/user/Desktop/baeksb.github.io/index.html">
                                <img class="img-responsive" src="static/blog/img/편의점.jpg" alt=""
				style="width:380px; height:300px;"> </a>
                            </div>
                            <div>
				                <img class="img-responsive" src="{% static 'blog/img/야식.jpg' %}" alt=""
				style="width:380px; height:300px;">
                            </div>

                        </div>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .container close -->






    <section id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1 class="heading wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">our <span>CONTACT US</span></h1>
                        <h3 class="title wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">Sign Up for <span>Email Alerts</span> </h3>
                        <form>
                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Write your full name here...">
                            </div>
                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                                <input type="text" class="form-control" placeholder="Write your email address here...">
                            </div>
                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1000ms">
                                <textarea class="form-control" rows="3" placeholder="Write your message here..."></textarea>
                            </div>
                        </form>
                        <a class="btn btn-default wow bounceIn" data-wow-duration="500ms" data-wow-delay="1300ms" href="#" role="button">send your message</a>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .container close -->
    </section><!-- #contact-us close -->




        {% endblock %}
               

